*.csv
*.egg-info
*.log
*.out
*.pt
__pycache__
bash_scripts
build
data
logs
models
plots
slurm_scripts
test/*
!test/test_codgen.py
!test/test_gemm_lowering.py
!test/test_attention_lowering.py
wandb
.vscode